# Django
DJANGO_SECRET_KEY=secretkey
DJANGO_DEBUG=True
DJANGO_LANGUAGE_CODE=ru-ru
DJANGO_TIME_ZONE=Asia/Novosibirsk
DJANGO_DOMAIN_NAME=dj.localhost

#PosgresSQL
POSTGRES_DB=postgres
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser
POSTGRES_HOST=postgres
