SITE_DOMAIN_NAME=localhost
SITE_USE_HTTPS=False

# Django
DJANGO_SECRET_KEY=secretkey
DJANGO_DEBUG=True
DJANGO_LANGUAGE_CODE=ru-ru
DJANGO_TIME_ZONE=Asia/Novosibirsk

DJANGO_USE_DEBUGPY=False
DJANGO_USE_DJDT=True
DJANGO_USE_PYINSTRUMENT=False

# PosgresSQL
POSTGRES_DB=postgres
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser
POSTGRES_HOST=postgres

# MiniO
MINIO_ACCESS_KEY=accesskey
MINIO_SECRET_KEY=secretkey
MINIO_PUBLIC_URL=http://localhost:9000/media

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
